
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Content/js/LoaiSanPhamAPI.js"></script>
}
<h2>Inhadex</h2>

<table class="js__Getall table">
</table>
<h2 class="js_page"></h2>



