@model IEnumerable<Models.Framework.HoaDon>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Table Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/table/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/table/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/table/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/table/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/table/css/util.css" rel="stylesheet" />
    <link href="~/Content/table/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    @{
                        decimal tonggia = 0;
                        decimal tonggianhap = 0;
                    }

                    @foreach (var item in Model)
                    {
                        tonggia = tonggia + (decimal)item.Gia;
                        tonggianhap = tonggianhap + (decimal)item.TongGiaNhap;
                    }

                    @{
                        decimal doanhthu = @tonggia - @tonggianhap;
                    }
                    <div style="padding: 15px 32px; text-align: center; text-decoration: none; font-size: 24px; margin-bottom: 30px">
                        <p>Doanh thu của cửa hàng</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="col1">Tổng giá bán</td>
                                <td class="col2">@tonggia</td>
                            </tr>
                            <tr>
                                <td class="col1">Tổng giá nhập</td>
                                <td class="col2">@tonggianhap</td>
                            </tr>
                            <tr>
                                <td class="col1">Doanh thu</td>
                                <td class="col2">@doanhthu</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</body>