
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Content/js/LoaiSanPhamAPI.js"></script>
}
<h2>Index</h2>

<tbody class="js__LoaiSanPham-index">
</tbody>

